h1 {
  font-family: "Arial", sans-serif;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hover-underline-menu {
  width: 100%;
}
.hover-underline-menu .menu {
  background-color: #1779ba;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.hover-underline-menu .menu li {
  width: 15%;
  text-align: center;
}
.hover-underline-menu .menu a {
  color: white;
  padding: 0.6rem 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
}
.hover-underline-menu .menu .underline-from-center {
  position: relative;
}
.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid white;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}
.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

.form {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-left {
  width: 25%;
  margin-right: 20px;
  position: fixed;
  left: 0;
  top: 150px;
}

.form-right {
  position: absolute;
  left: calc(25% + 20px);
  right: 0;
}

.form-section {
  display: none;
  margin-bottom: 20px;
}

.form-section.active {
  display: block;
  margin-left: 0px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 9px;
  box-sizing: border-box;
}

.form-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 480px;
  overflow-y: auto;
}
.form-nav li {
  margin-bottom: 10px;
}
.form-nav a {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #4f4545;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
}
.form-nav .active a {
  background-color: #ccc;
}

.navigation-arrows {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  padding: 20px;
}
.navigation-arrows .left-arrow {
  margin-left: 40%;
  margin-right: 20px;
}

input[type=text] {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type=email] {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type=tel] {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type=url] {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type=number] {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

textarea {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type=button] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

button {
  background-color: rgba(76, 175, 80, 0.83);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[class=delete-button] {
  background-color: rgba(76, 175, 80, 0.83);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  float: right;
  font-size: 16px;
  cursor: pointer;
}

#range_output {
  display: block;
  text-align: center;
  font-size: 22pt;
}

.answer-list {
  border: 1px solid #2692e3;
  border-radius: 5px;
  list-style-type: none;
  margin: 5;
  padding: 0;
  overflow: auto;
  height: 100px;
}
.answer-list li {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
  }
  .form-left {
    position: static;
    width: 100%;
    margin-right: 0;
    height: auto;
    top: auto;
  }
  .form-right {
    position: static;
    left: auto;
    right: auto;
    width: 100%;
  }
  .form-nav {
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */